<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-Liste</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="lib/css/styles.css">
    <script src="lib/js/vue.js"></script>
</head>
<body>
    <div class="callout" id="aufgabenApp">
        <h1>To-do-List!</h1>
            <p>
                <label for="neueAufgabe">Add Task &#9660;</label>
                <input id="neueAufgabe" type="text" v-model="neueAufgabe">
                <button class="hinzu" @click="aufgabeHinzu">add</button>
            </p>
    <div>
        <h2 class="alle-aufg">Tasks:</h2>
        <ul>
            <li v-for="(aufgabe, index) in aufgaben" :class="{'abgeschlossen' :aufgabe.fertig}">
                <p>{{aufgabe.beschreibung}}</p>
                <button class="erledigtWechseln" @click="erledigtWechseln(index)">&#10003;</button>
                <button class="loeschen" @click="loeschen(index)">x</button>
            </li>
        </ul>
        <h2 class="offene-aufg">To-do!</h2>
        <ul>
            <li v-for="aufgabe in nichterledigt">{{ aufgabe.beschreibung  }}</li>
        </ul>
        <h2 class="erledigte-aufg">Done:</h2>
        <ul>
            <li v-for="aufgabe in erledigt">{{ aufgabe.beschreibung }}</li>
        </ul>
    </div>
    </div>
    <script src="lib/js/main.js"></script>
</body>
</html>